* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf) format(true type);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 50px;
  color: orangered;
  text-align: center;
  padding: 30px 0 20px;
}

.container {
  --before-bg: url('../public/assets/summer-bg.jpg');
  position: relative;
  height: 100vh;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    margin: -5px 0 0 -5px;
    background-image: var(--before-bg);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
  }
}

.button-menu {
  display: flex;
  column-gap: 15px;
  justify-content: center;
  margin-bottom: 20px;

  // .button-menu__play
  &__play {
    position: relative;
    background-size: cover;
    width: 150px;
    height: 150px;
    border: 1px solid wheat;
    border-radius: 15px;
    transition: all 0.2s ease-in;

    &:hover {
      scale: 1.01;
      box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
    }

    &:active {
      transform: scale(0.99);
    }
  }

  // .button-menu__icon
  &__icon {
    width: 50px;
    height: 50px;
    pointer-events: none;
  }

  // .button-menu__icon-paused
  &__icon-paused {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: var(--opacity-btn, 0);
    pointer-events: none;
    user-select: none;
  }
}

.volume__input {
  display: block;
  text-align: center;
  margin: 30px auto 0;
  -webkit-appearance: none;
  appearance: none;
  height: 7px;
  border-radius: 4px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: var(--thumb-color);
    border-radius: 50%;
    margin-top: -2px;
  }

  &::-moz-range-thumb {
    background: var(--thumb-color);
  }
}
